h1{
            color: skyblue;
            font-family: monospace;
            font-size:300%;
         }

         p{
            font-family: Arial;
         }

         b{
            color: aqua;
         }

         i{
            background-color: deeppink;
         }